*{
    margin: 0px;
    padding: 0px;
}

#contenedor{
    margin:auto;
    margin-top: 50px; 
    width: 960px;
    height: 640px;
    background-color: aquamarine;
    border: 1px rgb(3, 3, 5) solid;
}

#miDiv{
    
    float: left;
    border: 1px rgb(3, 3, 5) solid;
    width: 410px;
    height: 640px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#miDiv2{
    margin: auto;
    border: 1px rgb(3, 3, 5) solid;
    width: 545px;
    height: 212px;
    float: right;
    
    
}
#miDiv3{
    margin: auto;
    border: 1px rgb(3, 3, 5) solid;
    width: 545px;
    height: 212px;
    float: right;
}
#miDiv4{

    margin: auto;
    border: 1px rgb(3, 3, 5) solid;
    width: 545px;
    height: 212px;
    float: right;
}
#boton{
    width: 60px;
    height: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#dato{
    width: 200px;
    height: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

